* {
	padding:0px;
	margin:0px;
}

body {
	margin:auto;
	font-family: Verdana;
	width:1000px;
	background-color:#E0DEEF;
}

label {
	font-weight:bold;
}
ul > li{
	list-style:none;
}
h2 {
	margin-top:10px;
}
h1,h2,h3,h4,h5,h6 {
	color:#1B107F;
}
fieldset {
	border: 1px solid #1B1260;
	width: 775px;
	background-color: #C5C0E8;
	padding: 7px;
	margin-top:10px;
	margin-bottom:15px;
}
fieldset legend {
	background-color: #796BE0;
	padding: 3px;
	font-weight: bold;
	border:1px solid black;
	-moz-box-shadow: 4px 4px 3px #888;
	-webkit-box-shadow: 4px 4px 3px #888;
	box-shadow: 4px 4px 3px #888;
}
pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	font-family: inherit;
}
.radioText {
	font-size:80%;
}
.bodyWrapper {
	min-width:1100px;
	text-align:center;
}
.topBar {
	background-color:#796BE0;
	color:white;
	border:1px solid black;
	width:1015px;
	display:inline-block;
	padding:3px;
	padding-top:5px;
}
.topBar a {
	color:white;
	text-decoration:none;
	padding-left:3px;
	padding-right:3px;
	padding-top:1px;
	padding-bottom:1px;
	position:relative;
	top:1px;
}
.topBar a:hover {
	background-color:#E0DEEF;
	color:black !important;
	border:1px solid black;

	padding-left:2px;
	padding-right:2px;
	padding-top:0px;
	padding-bottom:0px;
}

.loginInfo {
	float:left;
	text-align:left;
}
.topNavigation {
	float:right;
}
.topNavigation ul {
	text-align:right;	
}
.topNavigation ul li {
	display:inline;
}

.header {
	width:100%;
}
.headerMain {
	background-color:white;
	width:1015px;
	border:1px solid black;
	padding:3px;
	margin:auto;
}

.headerMain p {
	font-size:18px;
	font-style:italic;
}

.mainBody {
	min-width:1020px;
	padding-bottom:5px;
	padding-top:5px;
	margin:auto;
}
.navigationSide {
	width:180px;
	display:inline-block;
	border:1px solid black;
	padding:5px;
	vertical-align:top;
	background-color:white;
}
.navigationSide ul {
	list-style:none;
}
.navigationSide ul ul {

}

.mainView {
	display:inline-block;
	vertical-align:top;
	padding:15px;
	width:790px;
	min-height:320px;
	background-color:white;
	border:1px solid black;
	text-align:left;
	position:relative;
}

.footer {
	clear:both;
	text-align:center;
	font-size:12px;
	margin-top:10px;
}

#loginPrompt {
	background-color:#E0DEEF;
	padding:10px;
	border:1px solid black;
	color:black !important;

	display:none;
	z-index:8;
}
#showLoginLink {
	z-index:10;
}
.showLoginLinkExpanded {
	background-color:#E0DEEF;
	color:black !important;
	border:1px solid black !important;
	border-bottom:0px !important;
	border-bottom:0px;
}
#forgotPasswordLink {
	float:right;
	color:black;
}

.loginPromptLine2 {
	height:25px;
}
.loginPromptLine2 input {
	vertical-align:middle;
}

.notificationSide {
	display:none;
	border:1px dashed black;
	background-color:#F4F390;
	min-height:50px;
	padding:10px;
	margin-bottom:10px;
}

.notificationSide p{
	display:inline-block;	
	vertical-align:middle;
}
.errorIcon {
	width:42px;
	height:42px;
	display:inline-block;
	vertical-align:middle;
}


table {
	text-align:center;
	width:100%;
}
tr {
	background-color:#DCDAEA;
}
tr.alternateRow {
	background-color:#F2F2F2;
}
td {

}

.icon {
	width:24px;
	height:24px;
	cursor:pointer;
	vertical-align:middle;
}
