* {
	padding:0px;
	margin:0px;
}

body {
	margin:auto;
	font-family: arial;
	width:1000px;
	background-color:#E0DEEF;
}

label {
	font-weight:bold;
}
ul > li{
	list-style:none;
}
h2 {
	margin-top:10px;
}
fieldset {
	border: 1px solid #1B1260;
	width: 775px;
	background-color: #C5C0E8;
	padding: 7px;
	margin-top:10px;
	margin-bottom:15px;
}
fieldset legend {
	background-color: #796BE0;
	padding: 3px;
	font-weight: bold;
	border:1px solid black;
}
.bodyWrapper {
	min-width:1100px;
	text-align:center;
}
.topBar {
	background-color:#796BE0;
	color:white;
	border:1px solid black;
	width:1000px;
	display:inline-block;
	padding:3px;
	padding-top:5px;
}
.topBar a {
	color:white;
	text-decoration:none;
	padding-left:3px;
	padding-right:3px;
}
.topBar a:hover {
	color:white;
	text-decoration:underline;
}

#loginPrompt {
	border-radius:3px;
	background-color:gray;
	padding:10px;
	border:1px solid black;
}
.loginInfo {
	float:left;
	text-align:left;
}
.topNavigation {
	float:right;
}
.topNavigation ul {
	text-align:right;	
}
.topNavigation ul li {
	display:inline;
}

.header {
	width:100%;
}
.headerMain {
	background-color:white;
	width:1015px;
	border:1px solid black;
	padding:3px;
	margin:auto;
}

.headerMain p {
	font-size:18px;
	font-style:italic;
}

.mainBody {
	width:1020px;
	padding-bottom:5px;
	padding-top:5px;
	margin:auto;
}
.navigationSide {
	width:180px;
	display:inline-block;
	border:1px solid black;
	padding:5px;
	vertical-align:top;
	background-color:white;
}
.navigationSide ul {
	list-style:none;
}
.navigationSide ul ul {

}

.mainView {
	display:inline-block;
	vertical-align:top;
	padding:15px;
	width:790px;
	min-height:320px;
	background-color:white;
	border:1px solid black;
	text-align:left;
}

.footer {
	clear:both;
	text-align:center;
	font-size:12px;
	margin-top:10px;
}

#loginPrompt {
	display:none;
	z-index:8;
}
#showLoginLink {
	z-index:10;
	position:relative;
}
.showLoginLinkExpanded {
	background-color:gray;
	border:1px solid black;
	border-bottom:0px;
	border-radius:5px 5px 0px 0px;
}
#forgotPasswordLink {
	float:right;
}

.loginPromptLine2 {
	height:25px;
}
.loginPromptLine2 input {
	vertical-align:middle;
}

.notificationSide {
	border:1px dashed black;
	background-color:#F4F390;
	height:50px;
	padding:10px;
	margin-bottom:10px;
}

.notificationSide p{
	display:inline-block;	
	vertical-align:middle;
}
.errorIcon {
	width:48px;
	height:48px;
	display:inline-block;
	vertical-align:middle;
}
