/*
	REGISTER VIEW
			*/
.registrationFormWrapper form > label{
	display:block;
}
.registrationFormWrapper form > input{
	display:block;
}


.regForm label {
	display:block;
}
.regForm .submit {
	display:block;
}
#msg {
	display:none; 
	position:absolute; 
	z-index:200; 
	background:url(../js/images/msg_arrow.gif) left center no-repeat; 
	padding-left:7px;
}
#msgcontent {
	display:block; 
	background:#f3e6e6; 
	border:2px solid #924949; 
	border-left:none; 
	padding:5px; 
	min-width:150px; 
	max-width:250px;
}
#msg2 {
	display:none; 
	position:absolute; 
	z-index:200; 
	background:url(../js/images/msg_arrow2.png) left center no-repeat; 
	padding-left:7px;
}
#msgcontent2 {
	display:block; 
	background:#c5fab1; 
	border:2px solid #3e9c1c; 
	border-left:none; 
	padding:5px; 
	min-width:150px; 
	max-width:250px;
}

/*
	NEW CLASS VIEW
			*/
#classDescriptionField {
	width:767px;
	height:80px;
	resize:vertical;
}
.new_class label {
	display:block;
}

/*
	PROFILE VIEW
			*/


/*
	EDIT PROFILE VIEW
				*/
.editProfileWrapper  label {
	display:block;
}
.bioTextarea {
	width:767px;
	height:80px;
	resize:vertical;
}

/*
	EDIT PROFILE VIEW
				*/
.editClassWrapper  label {
	display:block;
}
.descriptionTextarea {
	width:767px;
	height:80px;
	resize:vertical;
}
/*
	ASSOCIATIONS VIEW
				*/
.editClassAssociationTypesWrapper label,.submit {
	display:block;
}

.associationTable {

}
/*
	ANNOUNCEMENT VIEW
				*/
.newAnnouncementWrapper label {
	display:block;
}
.announcementTextarea {
	width:767px;
	height:80px;
	resize:vertical;
}
.announcementTitle {

}
.announcementInfo {
	font-size:50%;
}
.announcementBody {
	font-size:80%;
}
.pastAnnouncement {
	margin-bottom:5px;
	padding:5px;
	position:relative;
}
.editOptionsWrapper {
	position:absolute;
	top:5px;
	right:3px;
}

