/*
	REGISTER VIEW
			*/
.registrationFormWrapper form > label{
	display:block;
}
.registrationFormWrapper form > input{
	display:block;
}


.regForm label {
	display:block;
}
.regForm .submit {
	display:block;
}
#msg {
	display:none; 
	position:absolute; 
	z-index:200; 
	background:url(../js/images/msg_arrow.gif) left center no-repeat; 
	padding-left:7px;
}
#msgcontent {
	display:block; 
	background:#f3e6e6; 
	border:2px solid #924949; 
	border-left:none; 
	padding:5px; 
	min-width:150px; 
	max-width:250px;
}
#msg2 {
	display:none; 
	position:absolute; 
	z-index:200; 
	background:url(../js/images/msg_arrow2.png) left center no-repeat; 
	padding-left:7px;
}
#msgcontent2 {
	display:block; 
	background:#c5fab1; 
	border:2px solid #3e9c1c; 
	border-left:none; 
	padding:5px; 
	min-width:150px; 
	max-width:250px;
}

/*
	NEW CLASS VIEW
			*/
#classDescriptionField {
	width:767px;
	height:80px;
	resize:vertical;
}
.new_class label {
	display:block;
}

/*
	PROFILE VIEW
			*/


/*
	EDIT PROFILE VIEW
				*/
.editProfileWrapper  label {
	display:block;
}
.bioTextarea {
	width:767px;
	height:80px;
	resize:vertical;
}

/*
	EDIT CLASS VIEW
				*/
.editClassWrapper  label {
	display:block;
}
.descriptionTextarea {
	width:767px;
	height:80px;
	resize:vertical;
}
/*
	ASSOCIATIONS VIEW
				*/
.editClassAssociationTypesWrapper label,.submit {
	display:block;
}

.associationTable {

}
.navigationTitles {
	background-color:#ffffff;
	border:1px solid #000000;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 10px;
	width:150px;
	text-decoration:none;
	margin-top: 4px;
}
.navigationTitles:hover {
	background-color:#dfdfdf;
}
.navigationTitles:active {
	position:relative;
	top:1px;
}
	
.navigationClassDirectories {
	font-size: 80%;
	background-color: #d4d6e8;
	width: 150px;
	margin-left: 15px;
	
}
.navigationClassDirectories a {
	text-decoration: none;
	color:#000000;
}
.navigationClassDirectories li{
	border-bottom: 1px solid #f0f0f0;
}
#navigationHl {
	background: #a0a3c1;
}
#navigationHl a{
	color: white;
}
#navigationClassHl {
	background: #a0a3c1;
	color: white;
}

/*
	ANNOUNCEMENT VIEW
				*/
.newAnnouncementWrapper label {
	display:block;
}
.announcementTextarea {
	width:767px;
	height:80px;
	resize:vertical;
}
.announcementTitle {

}
.announcementInfo {
	font-size:50%;
}
.announcementBody {
	font-size:80%;
	width:800px;
}
.pastAnnouncement {
	margin-bottom:5px;
	padding:5px;
	position:relative;
}
.editOptionsWrapper {
	position:absolute;
	top:5px;
	right:3px;
}

.editAnnouncementWrapper label {
	display:block;
}

/*
	FILES VIEWS
			*/
.editFolderPrompt {
	display:none;
}
.classFolder {
	position:relative;
	padding:5px;
}
.classFolderEditted {
	border:1px solid black;
	background-color:#A0A3C1;
}
