/*
	REGISTER VIEW
			*/
.registrationFormWrapper form > label{
	display:block;
}
.registrationFormWrapper form > input{
	display:block;
}


.regForm label {
	display:block;
}
.regForm .submit {
	display:block;
}
#msg {
	display:none; 
	position:absolute; 
	z-index:200; 
	background:url(../js/images/msg_arrow.gif) left center no-repeat; 
	padding-left:7px;
}
#msgcontent {
	display:block; 
	background:#f3e6e6; 
	border:2px solid #924949; 
	border-left:none; 
	padding:5px; 
	min-width:150px; 
	max-width:250px;
}
#msg2 {
	display:none; 
	position:absolute; 
	z-index:200; 
	background:url(../js/images/msg_arrow2.png) left center no-repeat; 
	padding-left:7px;
}
#msgcontent2 {
	display:block; 
	background:#c5fab1; 
	border:2px solid #3e9c1c; 
	border-left:none; 
	padding:5px; 
	min-width:150px; 
	max-width:250px;
}

/*
	NEW CLASS VIEW
			*/
#classDescriptionField {
	width:767px;
	height:80px;
	resize:vertical;
}
.new_class label {
	display:block;
}

/*
	PROFILE VIEW
			*/


/*
	EDIT PROFILE VIEW
				*/
.editProfileWrapper  label {
	display:block;
}
.bioTextarea {
	width:767px;
	height:80px;
	resize:vertical;
}

/*
	EDIT CLASS VIEW
				*/
.editClassWrapper  label {
	display:block;
}
.descriptionTextarea {
	width:767px;
	height:80px;
	resize:vertical;
}
.newClassAssociationFieldset label,input{
	display:inline;
}
/*
	ASSOCIATIONS VIEW
				*/

.associationTable {

}
.navigationTitles {
	background-color:#ffffff;
	border:1px solid #000000;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 10px;
	width:150px;
	text-decoration:none;
	margin-top: 4px;
	margin-bottom: 0px;
}
.navigationTitles:hover {
	background-color:#dfdfdf;
}
.navigationTitles:active {
	position:relative;
	top:1px;
}
	
.navigationClassDirectories {
	font-size: 80%;
	background-color: #d4d6e8;
	display: block;
	margin-left: 2px;
	width: 156px;
	margin-top: 0px;
	text-decoration: none;
	padding: 0px 10px;
	color:#000000;
	border-bottom: 1px solid #f0f0f0;
}
.navigationClassDirectories:hover {
	background-color: #c0c2dc;
}
#navigationHl {
	background: #a0a3c1;
	color: white;
}
#navigationClassHl {
	background: #a0a3c1;
	color: white;
	padding: 6px 12px;
	-moz-box-shadow: 0px 2px 3px #666;
	-webkit-box-shadow: 0px 2px 3px #666;
	box-shadow: 0px 2px 3px #666;
}

/*
	ANNOUNCEMENT VIEW
				*/
.newAnnouncementWrapper label {
	display:block;
}
.announcementTextarea {
	width:767px;
	height:80px;
	resize:vertical;
}
.announcementTitle {

}
.announcementClass {
	text-align: center;
	border-bottom: 1px solid grey;
	font-size: 10pt;
}
.announcementClass a{
	text-decoration:none;
}
.announcementInfo {
	font-size:50%;
}
.announcementBody {
	font-size:80%;
	width:800px;
}
.pastAnnouncement {
	margin-bottom:5px;
	padding:5px;
	position:relative;
}
.editOptionsWrapper {
	position:absolute;
	top:5px;
	right:3px;
}

.editAnnouncementWrapper label {
	display:block;
}

/*
	FILES VIEWS
			*/
.editFolderPrompt {
	display:none;
}
.classFolder {
	position:relative;
	padding:5px;
}
.classFolderEditted {
	border:1px solid black;
	background-color:#A0A3C1;
}

.editFilePrompt {
	display:none;
}
.fileContainer {
	position:relative;
	padding:5px;
}
.fileContainerEditted {
	border:1px solid black;
	background-color:#A0A3C1;
}
.filetypeIcon {
	vertical-align:middle;
	width:18px;
	height:18px;
}
/*
	LABS
		*/
.newLabWrapper label {
	display:block;
}
#labDescriptionField {
	width:767px;
	height:80px;
	resize:vertical;
}
.checkboxLabel {
	display:inline !important;
}
.uploadSettings {
	display:none;
}
.labInfo {
	font-size:50%;
}
/*CLASSES VIEW*/
.classesWrapper {
	width: 500px;
}
#classesHeader {
	border-bottom: 3px solid #9c90f2;
	width: 500px;
}
#classesTitle {
	display: inline;
	margin-right: 350px;
	
}
#subscribeTitle {
	text-align: right;
	display: inline-block;
}
.semesterTitle {
	margin-top:10px;
	font-size: 120%;
	border-bottom: 1px solid blue;
	margin-bottom: 3px;
	margin-right: 100px;
}
.classCheck {
	position: relative;
	display: inline;
	float: right;
}
#button {
	margin-top: 20px;
}

